@use '../../App.scss' as app;

.main{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardContainer{
    width: 80%;
    padding: 30px;
    margin: 20px 0;
    display: grid;
    grid-gap: 40px;
    row-gap: 100px;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-around;
}

.navigation{
    width: fit-content;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 100px;
    align-items: center;
    gap: 10px;

    button{
        color: white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: hidden;
        background-color: #941C2F;

        &:active{
            background-color: #C2EFB3;
        }
    }

    h1{
        grid-column: 3;
    }
    
    #decrement{
        height: 100px;
        grid-column: 2;
    }

    #increment{
        height: 100px;
        grid-column: 4;
    }

    #first{
        height: 100px;
        grid-column: 1;
    }

    #last{
        grid-column: 5;
    }

}

