.container{
    width: 50vw;
    margin: 0 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-style: italic;
        font-weight: 400;
        margin: 20px 0;
    }
}

.searchbar{
    position: relative;
    width: fit-content;
    &:focus-within{
        .dropdown{
            display:flex;
        }
    }
}

.input{
    width: 20vw;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 2px 1px 5px rgba(0,0,0,.4);
    text-align: center;
}

.dropdown{
    position: absolute;
    width: 70%;
    margin: auto;
    left: 0;
    right: 0;
    width: 200px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    display:none;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    scrollbar-width: thin;
    scrollbar-color: #D4DCFF #4C5454;
    &::-webkit-scrollbar{
        display: none;
    }
    a{
        text-decoration: none;
        text-align: center;
        color:white;
        background-color: #941C2F;
        width: 100%;
        padding: 10px 5%;
        z-index: 20;
        transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), color 0.2s ease-in-out;
        &:hover{
            color: black;
            background-color: #CBFF8C;
        }
    }
}
