@mixin selection{
    background-color: pink;
    color: red;
}


.searchbar{
    $border-radius: 10px;
    $background-color: rgb(108, 150, 108);
    width: 200px;
    margin:auto;
    padding: 2px 10px;

    input{
        height: 30px;
        width:inherit;
        padding: inherit;
        border: inherit;
        background-color: $background-color;
        border-radius: $border-radius;

        &:focus-visible{
            outline: none;            
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        &:focus-within + .resultBox{
            display:block;
        }
    }

    .resultBox{
        display:none;
        position: absolute;
        width: inherit;
        padding: inherit;
        border: inherit;
        background-color: $background-color;
        z-index: 10;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;

        ul{
            list-style-type: none;
            padding: 0;
            margin: 0;
            a{
                text-decoration: none;
                li{
                    color: white;
                    padding: none;
                }
                
                &:hover li,
                &:focus li{
                    @include selection
                }
            }
        }
    }
}