@use '../../App.scss' as app;

.container{
    width: 50%;
    height: 20%;
}

.options {
    @include app.theme;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    border-radius: 10px;
    
    button{
        @include app.button;
    }
}

.filterMenu {
    @include app.box-theme;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 30px;
    width: 50%;
    height: fit-content;
    margin: auto;
    gap: 10px;

    button{
        @include app.button;
        margin: auto;
    }
}

.filterMenuPlaceholder {
    width: 25vw;
    height: 20vh;
    padding: 10px 30px;
}

.filterSelection {
    width: 100%;
    height: 50%;
    display: flex;
    button{
        width: fit-content;
        height: 100%;
        margin: 0 2px;
    }
}

#optionError {
    color: white;
    margin: 0;
}