$text-color: white;
$background-color: #941c2f;
$button-color: white;
$button-text-color: black;
$hover-color: #ffaab7;
$select-color: red;

@mixin theme{
	background-color: $background-color;
}

@mixin box-theme {
	@include border;
	@include theme;
	color: $text-color;
	box-shadow: 2px 2px 3px rgb(92, 92, 92);
}

@mixin border {
	border: hidden;
	border-radius: 15px;
}

@mixin button {
	color: $button-text-color;
	background-color: $button-color;
	border: solid 2px transparent;
	padding: 3px 10px;
	border-radius: 10px;
	transition: background-color 0.2s ease-in;

	&:hover {
		background-color: $hover-color;
	}

	.selected{
		background-color: $select-color;
	}
}

.loader {
	width: 50px;
	height: 50px;
	margin: 15% auto;
	border: 10px solid transparent;
	border-top: 10px solid $background-color;
	border-radius: 50%;
	animation: spin 1s cubic-bezier(0.79, 0.14, 0.15, 0.86) infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

button {
	font-family: 'Josefin Sans';
	font-size: 16px;
}

#root {
	height: fit-content;
}
