$text-color: white;
$background-color: #941c2f;
$button-color: white;
$button-text-color: black;
$hover-color: #ffaab7;
$select-color: red;

@mixin button {
	color: $button-text-color;
	background-color: $button-color;
	border: solid 2px transparent;
	padding: 3px 10px;
	border-radius: 10px;
	transition: background-color 0.2s ease-in;

	&:hover {
		background-color: $hover-color;
	}

	.selected{
		background-color: $select-color;
	}
}